:root {
    --bg-color: #CAF0F8;
    --main-color: #263374;
    --darkblue: #0077B6;
    --mid0blue: #00B4D8;
    --light-blue: #CAF0F8;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
}
/***********Header******************/
header {
    background-color: var(--main-color);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
    
}

header img {
 width: 50px;
}

li {
    list-style: none;
}


.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-icon {
    font-size: 2rem;
}
.nav-link-head {
    transition: 0.7s ease;
    color: white;
    text-decoration: none;
}

.nav-link-head:hover {
    color: #b3762b;
}

.nav-link {

    color: white;
    text-decoration: none;
}
.nav-link:hover {
    color: #b3762b;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/***************************body******************/
body {
    background: #CAF0F8; /* fallback for old browsers */


    

}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: large;
    font-weight: 800;
}

/***************************Hero Image******************/
.hero-image {
    background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 60vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 3em;

}

.glass {
background: linear-gradient(
    135deg,
rgba(255, 255, 255, 0.1),
rgba(255, 255, 255, 0.1)
);
-webkit-backdrop-filter: blur(21px);
backdrop-filter: blur(21px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
border-radius: 25px;
padding: 24px;
}

.hero-image h1 {
    color: white;

    padding: 0.5em;
}
.cta {
    background: #0077B6;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border-radius: 15px;

}

.cta:hover, 
.cta:focus {
    background: #005380;
    outline: #0f0c29;
    outline-offset: 10px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-3 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(6,14,131);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgb(0, 0, 0);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(6,14,131);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }




@media only screen and (min-width: 950px) {
    .hero-image h1 {
font-size: 2em;
    }
    .cta {
        font-size: 1.2em;
    }
  }


/**************************certifications***********************/

.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
    padding: 50px;
}

.wrapper a {
    text-decoration: none;
    color: black;
}

.cards-c {
    width: clamp(150px, 300px, 400px);
    min-height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s cubic-bezier(1,-0.99,.14,1.8);
    outline: solid 0px #c89b65;
}

.cards-c:hover {
    outline: solid 5px #c89b65;
    scale: (0.9);
}

.cards-c img {
    align-items: center;
    width: 70%;

}

.last-image {
    width: 100%;
    align-items: center;
}



.wrapper h3 {
    font-size: clamp(0.7em, 1.5em, 2em);
    text-align: center;
}


@media only screen and (max-width: 950px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
  }

/***************************info******************/

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: var(--mid0blue);
}

.sec h2 {
    font-size: clamp(0.7em, 1.4em, 3em);
    margin: 1em;
}

.sec p {

    margin: 1em;
}
.info-wrapper {
    display: flex;

}

.sec button {
    margin: 2em;
    
}

.learn-button{
    background: -webkit-linear-gradient(90deg #F37335, #FDC830); 
    background: linear-gradient(90deg, #F37335, #FDC830); 
    border-radius: 25px;
    padding: 10px 25px;    
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);

}
.sec img {
    width: clamp(50%, 100%, 300%);
    object-fit: cover;
}
@media only screen and (min-width: 950px) {
    .sec h2 {
        font-size: clamp(0.7em, 2.3em, 3em);
        margin: 1em;
    }

    .sec p {
        font-size: clamp(0.7em, 1.5em, 3em);
        margin: 0 2em;
    }
  }

@media only screen and (max-width: 950px) {
    .sec {
width: 100%;
    }
    .info-wrapper {
        display: flex;
        flex-direction: column;
    }
  }




/***************************Courses******************/

.courses-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% - 10rem);

    overscroll-behavior-inline: contain;
    gap: 2em;
}
  .card {
    background-color: #263374;
    color: azure;
    display: block;
    border-radius: 20px;


    inline-size: min(100%, 70rem);
    height: auto;

    padding: 1em;

    border: 1px solid black;
    margin: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;


  }

  .card a {
    text-decoration: none;

position: relative;
bottom: 0;
    background-color: #0077B6;

    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    cursor: pointer;
    color: white;


  }

  .card a:hover {
    text-decoration: underline;

    color: rgb(0, 0, 0);

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card .title {
    font-size: 24px;
    font-weight: bold;

  }
  .card .image {
    width: clamp(50px, 75px, 100px);
    height: auto;
    border-radius: 25px;
  }
  .card p {
    font-size: 16px;
    margin-top: 10px;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
  }

  .snaps-inline > * {
    scroll-snap-align: center;
  }

  @media only screen and (min-width: 800px) {
    .courses-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    .card {
        width: calc(25% - 20px);
        height: min(270px);
        padding: 20px;
    }
  }
  @media only screen and (max-width: 800px) {
    .courses-wrapper {
  overflow-x: scroll;
}  }
  /**************************Reviews****************/
  .reviews-sec{
    background-color: var(--mid0blue);

  }
  .reviews {
    margin: 2em;
  }

  .reviews h2 {
    text-align: center;
    font-size: 3em;
  }

.reviews-wrapper{
    display: flex;
}
.big-photo {
    width: 50%;
    display: grid;
    place-items: center;

}
.big-photo img {
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.small-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.right {
display: grid;
place-items: center;

}

.right-side {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 4em;

}

@media only screen and (max-width: 800px) {
    .reviews-wrapper {
display: block;
}  }

.h6 {
    text-align: center;
}

  .big-photo {
    margin-left: 1em;
    border-radius: 30px;
}

h2 {
    text-align: center;
}

.email-sub {
width: 28%;
height: auto;
padding: 15px;
margin: 10px;
font-size: 80px;
position: relative;
top: 1px;
left: 1200px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
border-radius: 25px;
}

#send-btn {
    background: goldenrod;
    padding: .5rem;
    color: white;
    margin: 1 rem 0;
    width: auto;
    text-transform: uppercase;
    cursor:pointer;

}

label {
    font-size: 20px;
    padding: 1.5em;
}

input{
    font-size: 20px;
    border: 0px;
    padding: 5px;
    
}
/***************************Footer******************/

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);


    color: black;
    
}

footer > * {

    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
}
footer :nth-child(4) {
    border: 0;
    letter-spacing: 0.1em;
}
.nav-footer {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    font-size-adjust: 15px;
}

.icon {
    height: 20px;
    width: auto;

}
@media only screen and (max-width: 800px) {
    footer {
        display: block;
        text-align: center;
        
    }
  }



@media(max-width:768px){
    .hamburger {
        display: block;
    }

    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: lightgray;
        color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu .active{
        left: 0;
    }

}
