:root {
    --bg-color: #c3c3c3;
    --main-color: #263374;
    --darkblue: #0077B6;
    --mid0blue: #00B4D8;
    --light-blue: #CAF0F8;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/***************************Header******************/
header {
    background-color: var(--main-color);
    width: 100%;
    
    
}

li {
    list-style: none;
}


.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-icon {
    font-size: 2rem;
}
.nav-link-head {
    transition: 0.7s ease;
    color: white;
    text-decoration: none;
}
.nav-link {

    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/***************************body******************/
body {
    background-color: var(--bg-color);
}

/***************************Hero Image******************/
.hero-image {
    background-image: url(https://images.pexels.com/photos/7988079/pexels-photo-7988079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 80vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}

.hero-image h1 {
    background-image: url(https://images.pexels.com/photos/7988079/pexels-photo-7988079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.cta {
    background-color: #0077B6;
    display: flex;
}
/***************************Footer******************/

/***************************Footer******************/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #263374;

    
}

footer > * {
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;
    border-right: 3px solid black;
}
footer :nth-child(4) {
    border: 0;
}
.nav-footer {
    padding: 0.5rem;
    font-size: 1rem;
}


@media(max-width:768px){
    .hamburger {
        display: block;
    }

    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #263374;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu .active{
        left: 0;
    }

}
